<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>AppSignal: Passport + CASL (Hidden Packages)</title>

  <link
    rel="canonical"
    href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
  />

  <!-- Bootstrap core CSS -->
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <!-- Custom styles for the signin -->
  <link
    href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css"
    rel="stylesheet"
  />
</head>
