<%- include('header'); -%>

<form class="form-signin text-center" action="/login" method="post">
  <img
    class="mb-4"
    src="https://d33wubrfki0l68.cloudfront.net/634ecb3aa558727ac6d4c057f3ef16b141576a4b/39262/images/dl_logo/appsignal-logo.svg"
    alt=""
    width="172"
  />
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input
	type="text"
	name="username"
    id="inputUsername"
    class="form-control"
    placeholder="Username"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
	type="password"
	name="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    required
  />
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign in
  </button>

  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</form>
